<a href="https://colab.research.google.com/github/chardezel/Soccer-Analytics/blob/main/Phase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alexandre Lacazette vs. Roberto Firmino in the Premier League 2018-2019 Season

In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv ('england-premier-league-players-2018-to-2019-stats.csv')
df.head()

,full_name,age,birthday,birthday_GMT,league,season,position,Current Club,minutes_played_overall,minutes_played_home,...,annual_salary_eur_percentile,clean_sheets_percentage_percentile_overall,min_per_card_percentile_overall,cards_per90_percentile_overall,booked_over05_overall,booked_over05_percentage_overall,booked_over05_percentage_percentile_overall,shirt_number,annual_salary_gbp,annual_salary_usd
0,Aaron Cresswell,32,629712000,1989/12/15,Premier League,2018/2019,Defender,West Ham United,1589,888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Lennon,35,545554800,1987/04/16,Premier League,2018/2019,Midfielder,Burnley,1217,487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aaron Mooy,32,653382000,1990/09/15,Premier League,2018/2019,Midfielder,Huddersfield Town,2327,1190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaron Ramsey,31,662198400,1990/12/26,Premier League,2018/2019,Midfielder,Arsenal,1327,689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aaron Rowe,22,968310000,2000/09/07,Premier League,2018/2019,Forward,Huddersfield Town,69,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
player1 = 'Alexandre Lacazette'
player2 = 'Roberto Firmino'
player1_data = df[df['full_name'] == player1]
player2_data = df[df['full_name'] == player2]

print(player1_data[['full_name', 'goals_overall']])
print(player2_data[['full_name', 'goals_overall']])

              full_name  goals_overall
28  Alexandre Lacazette             13
           full_name  goals_overall
469  Roberto Firmino             12

In [64]:
import json

config_data = {
  "player1": "Alexandre Lacazette",
  "player2": "Roberto Firmino"
}

with open('config.json', 'w') as f:
  json.dump(config_data, f)

with open('config.json', 'r') as f:
  config = json.load(f)

player1 = config['player1']
player2 = config['player2']

player1_data = df[df['full_name'] == player1]
player2_data = df[df['full_name'] == player2]

if player1_data['position'].values[0] != player2_data['position'].values[0]:
  raise ValueError("Players do not play the same position.")

print(player1_data[['full_name', 'goals_overall', 'assists_overall', 'appearances_overall']])
print(player2_data[['full_name', 'goals_overall', 'assists_overall', 'appearances_overall']])

              full_name  goals_overall  assists_overall  appearances_overall
28  Alexandre Lacazette             13                8                   35
           full_name  goals_overall  assists_overall  appearances_overall
469  Roberto Firmino             12                6                   34

In [65]:
import pandas as pd
import json

file_path = 'england-premier-league-players-2018-to-2019-stats.csv'
data = pd.read_csv(file_path)

config_path = 'config.json'
with open(config_path, 'r') as file:
    config = json.load(file)
player1 = config['player1']
player2 = config['player2']
player_names = [player1, player2]

players_data = data[data['full_name'].isin(player_names)]

if players_data.empty:
    print("No valid players found for comparison.")
else:
    comparison_df = players_data.set_index('full_name').drop(columns=['position', 'nationality'])

    print(comparison_df)

comparison_df.to_csv('player_comparison.csv')

                     age   birthday birthday_GMT          league     season  \
full_name
Alexandre Lacazette   31  675414000   1991/05/28  Premier League  2018/2019
Roberto Firmino       31  686386800   1991/10/02  Premier League  2018/2019

                    Current Club  minutes_played_overall  minutes_played_home  \
full_name
Alexandre Lacazette      Arsenal                    2503                 1403
Roberto Firmino        Liverpool                    2620                 1347

                     minutes_played_away  appearances_overall  ...  \
full_name                                                      ...
Alexandre Lacazette                 1100                   35  ...
Roberto Firmino                     1273                   34  ...

                     annual_salary_eur_percentile  \
full_name
Alexandre Lacazette                           NaN
Roberto Firmino                               NaN

                     clean_sheets_percentage_percentile_overall  \
full_name
Alexandre Lacazette                                         NaN
Roberto Firmino                                             NaN

                     min_per_card_percentile_overall  \
full_name
Alexandre Lacazette                              NaN
Roberto Firmino                                  NaN

                     cards_per90_percentile_overall  booked_over05_overall  \
full_name
Alexandre Lacazette                             NaN                    NaN
Roberto Firmino                                 NaN                    NaN

                     booked_over05_percentage_overall  \
full_name
Alexandre Lacazette                               NaN
Roberto Firmino                                   NaN

                     booked_over05_percentage_percentile_overall  \
full_name
Alexandre Lacazette                                          NaN
Roberto Firmino                                              NaN

                     shirt_number  annual_salary_gbp  annual_salary_usd
full_name
Alexandre Lacazette           NaN                NaN                NaN
Roberto Firmino               NaN                NaN                NaN

[2 rows x 274 columns]